.Description{

    justify-content: left;
}

.placeholder{
    height : 50vw;
    width: 50vw;
}

.clock{
    display: flex;
    background-color: blue;
    max-height: 400px;
    max-width: 400px;
}

.Home{
    display: flex;
}

.Description{
    justify-content: center;
    text-align: justify;
    margin: 0;
    background-color: var(--testBlue);
    height: inherit;
}

.Desc-Header, .Desc-Body {
    margin : 2em 2em 0em 2em;
    color : white;
}